@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-flex justify-content-center">Welcome to my website </h1>
</div>

<div class="principal display-flex justify-content-space-between">
    <div class="about-me-container">
        <h1>About me</h1>
        <p>
            Hello there, Welcome to my WebSite!<br />
            I'm João Palhares, a Portuguese software developer with a passion for technology and problem-solving. I love learning new things, especially when it comes to Artificial Intelligence, cars, and Arduino. While these are just hobbies, I enjoy exploring how things work and diving into technical details.

            Outside of coding and tech, I’m also passionate about gaming, game development, and video editing—whether it’s creating, playing, or experimenting with new ideas.

            Feel free to explore my work, and if you share any of these interests, let’s connect!
        </p>

    </div>
	<div><h1>My Last Video</h1></div>
    
</div>
