html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow: hidden;
    margin-bottom: 60px;
}
.principal {
    margin-top: 60px;
}

.display-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly
}

.justify-content-space-around {
    justify-content: space-around;
}

.about-me-container {
    border: 5px solid black;
    width: 80%;
    max-width: 600px;
}

.about-me-container, .last-video-container h1 {
    text-align: center;
    padding-top: 20px;
}

.about-me-container p {
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.last-video-container {
    border: 5px solid black;
    width: 80%;
    max-width: 600px;
    margin-left:200px;
}


.icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -100px; /* Start above the screen */
    will-change: transform;
    transform-origin: center;
    user-select: none; /* Prevent text selection */
    -webkit-user-drag: none; /* Disable image dragging in WebKit browsers */
    -moz-user-drag: none; /* Disable image dragging in Firefox */
    -o-user-drag: none;
    user-drag: none;
    pointer-events: auto;
}

.explosion {
    position: fixed; /* Same as falling icons */
    width: 100px; /* Adjust size */
    height: 100px; /* Adjust size */
    pointer-events: none; /* Prevent further clicks */
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: none;
}